<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

{{> header}}
<p>These are my projects</p>
<hr>
<p>Meine Gesundheitsakademie</p>
<p>SPL ... see at Github</p>
<p>MSS ... secret project :-)</p>


{{> footer}}

</body>
</html>